<section>
  <h1>About Me</h1>
  <p><a href="http://www.wagemakers.be">http://www.wagemakers.be</a></p>
  <p><a href="http://www.linkedin.com/in/stafwagemakers">LinkedIn profile</a></p>
  <p><a href="https://google.com/+StafWagemakers">Google Plus profile</a></p>
<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-width="180" data-href="http://google.com/+StafWagemakers" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</section>
