<hgroup>

<div style="position:absolute; right:0px; width:300px;vertical-align:text-top;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4659298941528586";
/* blog header small */
google_ad_slot = "3241922943";
google_ad_width = 234;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
